@using CoreDepartmans.Models
@model List<departmanlar>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Departman</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.id</td>
            <td>@x.departmanad</td>
            <td><a href="#"class="btn btn-danger">Sil</a></td>
            <td><a href="#"class="btn btn-success">Güncelle</a></td>
            <td><a href="#"class="btn btn-default"style="background-color:aqua">Detaylar</a></td>
        </tr>
        }
    </table>
    <a href="/depart/YeniDepartman" class="btn btn-primary">Yeni Departman Ekle</a>

