
@{
    ViewBag.Title = "İletisimm";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>İletisim Adreslerimiz</h2>
<body bgcolor="white">
    <div>
        <p style="padding-left:20px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            Telefon:   05379177201 <br /> <br />
            Faks:    -<br /> <br />
            Adres:     Bursa/İznik <br /> <br />
            Mail:     talhadurmus16@gmail.com <br /> <br />
        </p>
    </div>
</body>

