
@{
    ViewBag.Title = "Muzelerr";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Müzeler</h2>
<div style="padding-left:15px;font-size:20px;">
    <h3 style="color:red">1. Louvre Museum – Paris:</h3>
    <div align="center"><img src="~/web/images/louvre-muzesi.jpg" /> <br /></div>
    Louvre Müzesi, orijinal ismi ile “Musee du Louvre” dünya çapındaki en ünlü ve en büyük müze olarak bilinir. İçerisinde akıllara durgunluk verecek kadar çok eser barından müze; Sully, Richelieu, Denon adında 3 ayrı kanata ve 8 bölüme ayrılıyor.

    Paris’te bulunan ve her yıl milyonlarca gezgini ağırlayan bu müze, adeta bir okul görevi görüyor. Mona Lisa Tablosu, Hermes Heykeli, Nike Heykeli, Üç Güzeller Heykeli, Caracalla Büstü, Büyük Sfenks gibi sanat tarihine damga vuran eserler burada sergileniyor.

    Şehrin batı tarafında yer alan müze, Sein Nehri’ne yakın bir konumda bulunuyor ve 60.000 m²’den fazla alan bir alana yayılıyor. Tarih öncesi çağlardan günümüze kadar uzanan nefes kesici bir koleksiyona sahip olan Louvre, Avrupa müzeleri arasında görmen gereken ilk durak.

    Yalnız içerde o kadar çok eser var ki tek günde müzenin tamamını gezmen ve bütün eserleri görmen mümkün değil; planlamanı ona göre yap.

    <br />Adres: Rue de Rivoli, 75001 Paris, Fransa <br />

    <h3 style="color:red">2. British Museum – Londra:</h3>
    <div align="center"><img src="~/web/images/british-museum.jpg" /> <br /></div>
    İngiltere’nin en büyük müzesi konumundaki British Museum, adadaki göz bebeği duraklardan biri. Londra Great Russel Street’te bulunan bu görkemli sanat müzesi, halka ve turistlere ücretsiz olarak hizmet veriyor.

    British Museum; Eski Çağ yapıtları, sikkeler ve madalyalar, baskılar ve çizimler ile etnografi bölümü olmak üzere toplam dört bölüme sahip. İçerisinde milyonlarca eser bulunan müzedeki koleksiyonun oluşturulması çok uzun yıllar sürmüş.

    Saymakla bitiremeyeceğimiz türden eserlere sahip British Museum’da dünya harikalarından sayılan Bodrum Halikarnas Mozolesi, Rosetta Taşı, Aslan Avı Rölyefleri, Parthenon Heykelleri ve Oxus Hazinesi ilk görülmesi gereken sanat eserleri arasında.

    <br />Adres: Great Russell St, Bloomsbury, Londra WC1B 3DG, İngiltere <br />

    <h3 style="color:red">3. Rijksmuseum – Amsterdam:</h3>
    <div align="center"><img src="~/web/images/rijksmuseum.jpg" /> <br /></div>

    Avrupa’nın önde gelen müzelerinden biri olarak kabul edilen Rijkmuseum, Hollanda Ulusal Müzesi olarak da biliniyor. Amsterdam‘da bulunan ve 19. yüzyılda kurulan bu ulusal müzenin sahip olduğu koleksiyonun büyük bir kısmını da Hollandalı sanatçıların eserleri oluşturuyor.

    Hollanda’nın en kapsamlı koleksiyonunun yer aldığı Rijkmuseum’a geldiğinde Rembrandt, Hals, Vermeer gibi dünyaca ünlü birçok ressamın paha biçilmez tablolarını görme imkanı bulabilirsin. Hollanda’nın en büyük sanat tarihi kütüphanesi de burada yer alıyor, aklında olsun.

    Rijkmuseum; Hollanda resim sanatının baskın olduğu bir müze olsa da burada Asya sanatları ile heykel ve dekoratif sanatlara dair de görülecek birçok değerli parça bulunuyor. Buraya geldiğinde görmen gereken ikonik eserler arasında Rembrandt’ın Gece Devriyesi (The Night Watch), Johannes Vermeer’in Sütçü (The Milkmaid) ve Jan Asselijn’in Tehdit Edilen Kuğu (The Threatened Swan) eserleri ilk sırada yer alıyor.

    Ayrıca hatırlatmakta fayda var, Rijkmuseum’un mimar Pierre Cuypers tarafından tasarlanan heykellerle dolu bahçesi de sanatsal cazibenin doruğa ulaştığı noktalardan. Özellikle hava güzelse burada vakit geçirmek isteyeceğine eminiz.

    <br />Adres: Museumstraat 1, 1071 XX, Amsterdam, Hollanda <br /> <br />

    <h3 style="color:red">4. Uffizi Galerisi – Floransa</h3>
    <div align="center"><img src="~/web/images/uffizi-museum.jpg" /> <br /></div>

    İtalya’nın Floransa şehri, Rönesans’ın doğduğu yer olarak kabul ediliyor. 16. yüzyılda açılan Uffizi Galerisi ise hem dünyanın en eski müzelerinden biri hem de Rönesans’a ait ihtişamlı bir tapınak olma özelliği taşıyor.

    Dünyanın en önemli müzelerinden birisi olarak kabul edilen Uffizi, İtalyancada “ofisler” anlamına geliyor. Rönesans Dönemi’nin karakteristik özelliklerini taşıyan U şeklindeki bina, aslında şehrin yönetim ofislerini bir araya toplama amacıyla yaptırılmış. Ancak daha sonra halka açık bir müze haline getirilmiş.

    Buraya geldiğinde Raffaello, Michelangelo, Leonardo da Vinci, Botticelli gibi sanat tarihine yön veren isimlerin eserleriyle karşılaşacaksın. O yüzden gitmeden söyleyelim: Stendhal Sendromu’na tutulabilirsin, dikkatli ol. Venüs’ün Doğuşu, Uzun Boyunlu Madonna, Duyuru, Büyük Kanal ve Bahar gibi yapıtlar da mutlaka görmen gereken eserler arasında.

    Sana önerimiz efsanevi Uffizi Galerisi’ni görmek için Floransa’ya gitmeden önce Bolonya’yı da görmen yönünde. Bolonya ile Floransa birbirine çok yakın olan iki şehir ve bu nedenle birleştirilmiş bir rota yapmak çok mantıklı.

    Piazza Maggiore etrafına kurulan Bolonya, kuleleri ve kızıl renkteki yapılarıyla muhteşem bir güzelliğe sahip. Göz alıcı bir Orta Çağ atmosferini soluduktan ve dünyaca ünlü Bolonya mutfağını deneyimledikten sonra Floransa’ya geçmek sana çok iyi gelecek, emin olabilirsin.

    <br />Adres: Piazzale degli Uffizi, 6, 50122, Floransa, İtalya <br />
</div>

