
@{
    ViewBag.Title = "Oteller";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Oteller</h2>
<div style="padding-left:15px;font-size:20px;">
    <h3 style="color:red">
        1) Holiday Inn Paris Saint Germain des Prés, an IHG Hotel
    </h3>
    <div align="center"><img src="~/web/images/par.jpg" /> <br /></div>
    Saint Germain ve Montparnasse bölgelerinin arasında yer alan Holiday Inn Paris Saint Germain des Prés'ye sadece 2 dakikalık yürüme mesafesindeki Saint-Placide Metro İstasyonu'ndan Notre-Dame Katedrali'ne doğrudan ulaşabilirsiniz.

    Tümü ses yalıtımlı odalarda klima, düz ekran uydu TV, minibar, çay-kahve yapma imkanı ve kasa bulunmaktadır. Bazı odalarda bornozlar ve terlikler vardır. Odalarda ek ücret karşılığında hızlı fiberoptik internet erişiminden faydalanabilirsiniz.

    Her sabah salonda veya odalarda ev yapımı taze hamur işlerinden oluşan açık büfe kahvaltı servis edilmektedir. Otelin barında kokteyllerinizi yudumlayabilirsiniz.

    Resepsiyon 24 saat açıktır. Paris Saint Germain des Prés, Lüksemburg Bahçesi'ne yürüyerek yalnızca 7 dakika, Montparnasse Kulesi'ne 750 metre, Louvre Müzesi'ne ise 2,2 km uzaklıktadır. Otel yakınlarındaki metro istasyonu sayesinde Paris'teki tüm turistik cazibe merkezlerine kolay ve hızlı bir şekilde ulaşabilirsiniz.

    Bu, bağımsız değerlendirmelere göre konuklarımızın Paris noktasında en beğendikleri kesim.

    Çiftler özellikle burayı tercih ediyor - iki kişilik bir seyahat için bu tesise 9,1 puan verdiler.

    Holiday Inn Paris Saint Germain des Prés, an IHG Hotel, Booking.com konuklarını 4 Mar 2010 tarihinden beri ağırlıyor.
    Otel zinciri/marka: Holiday Inn Hotels & Resorts <br />

    <h3 style="color:red">2) Tree Charme Parliament Boutique Hotel</h3>
    <div align="center"><img src="~/web/images/romaotel.jpg" /><br /></div>
    Roma'da, Trevi Çeşmesi'ne 1 km mesafede yer alan Tree Charme Parliament Boutique Hotel hızlı check-in ve check-out, sigara içilmeyen odalar, restoran, tesis genelinde ücretsiz Wi-Fi ve bar sunmaktadır. Bu 3 yıldızlı otelde ayrıca bilet hizmeti ve bagaj muhafaza alanı sağlanmaktadır. Konuklar oda servisi, konsiyerj hizmeti ve tur organizasyonlarından yararlanabilir.

    Tüm odalarda klima, düz ekran uydu TV, buzdolabı, su ısıtıcısı, bide, saç kurutma makinesi ve çalışma masası bulunmaktadır. Otelin odalarında gardırop ve özel banyo vardır.

    Tree Charme Parliament Boutique Hotel'in konukları kontinental veya alakart kahvaltının tadını çıkarabilirler.

    Otel yakınlarında Piazza Navona, Palazzo Venezia ve Via Condotti gibi popüler cazibe merkezleri bulunmaktadır. Tree Charme Parliament Boutique Hotel'e en yakın havalimanı olan Roma Ciampino Havalimanı 15 km mesafededir. Otel ücretli havalimanı servisi sunmaktadır.

    Bu, bağımsız değerlendirmelere göre konuklarımızın Roma noktasında en beğendikleri kesim.

    Çiftler özellikle burayı tercih ediyor - iki kişilik bir seyahat için bu tesise 9,9 puan verdiler.

    Tree Charme Parliament Boutique Hotel, Booking.com konuklarını 7 Mar 2019 tarihinden beri ağırlıyor. <br />

    <h3 style="color:red">3)FINCH - boutique hotel (Hollanda)</h3>
    <div align="center"><img src="~/web/images/hollandaotel.jpg" /> <br /></div>
    Deventer'de yer alan Sport- En Recreatiecentrum De Scheg'e 3,9 km mesafede yer alan FINCH - boutique hotel, hızlı check-in ve check-out imkanı, anti-alerjik odalar, restoran, ücretsiz Wi-Fi ve bar sunmaktadır. Tüm odalarda düz ekran kablo TV ve özel banyo bulunmaktadır. Otelde gazeteler, faks makinesi ve fotokopi makinesi mevcuttur.

    Otelin tüm odalarında su ısıtıcısı vardır.

    FINCH - boutique hotel'in konukları kontinental veya vejetaryen kahvaltının tadını çıkarabilirler.

    Tesiste güneşlenme terası vardır. FINCH - boutique hotel'in konukları Deventer ve çevresinde bisiklet gezintisi gibi aktivitelerin keyfini çıkarabilirler.

    Otel, Deventer Tarihi Müzesi'ne 1,9 km ve Toysmuseum Deventer'e 1,8 km uzaklıktadır.

    Çiftler özellikle burayı tercih ediyor - iki kişilik bir seyahat için bu tesise 9,7 puan verdiler.

    FINCH - boutique hotel, Booking.com konuklarını 17 Haz 2019 tarihinden beri ağırlıyor. <br /> <br />

    <h3 style="color:red">4)Hampton By Hilton Munich City West</h3>
    <div align="center"><img src="~/web/images/münihte otel.jpg" /> <br /></div>
    
    Oktoberfest - Theresienwiese'ye 2,6 km uzaklıkta yer alan Hampton By Hilton Munich City West, Münih'te konaklama olanağı, fitness merkezi, özel park yeri, bar ve ortak oturma alanı sunmaktadır. Tüm alanlarında ücretsiz WiFi sağlanan bu tesiste ayrıca 24 saat açık resepsiyon ve bagaj muhafaza alanı gibi olanaklar bulunmaktadır. Otelde aile odaları mevcuttur.

    Tüm konuk odalarında klima, düz ekran uydu TV, su ısıtıcısı, duş, saç kurutma makinesi ve masa vardır. Otelin her odasında gardırop ve özel banyo da bulunmaktadır.

    Hampton By Hilton Munich City West'in konukları açık büfe kahvaltı veya Amerikan kahvaltısının tadını çıkarabilir.

    Otelde iş merkezinin yanı sıra içecek ve atıştırmalık otomatları vardır.

    Hampton By Hilton Munich City West, Karlsplatz'a (Stachus) 3 km, Sendlinger Tor'a ise 3,3 km uzaklıktadır. Otele en yakın havaalanı olan Münih Havaalanı 30 km mesafededir.

    Çiftler özellikle burayı tercih ediyor - iki kişilik bir seyahat için bu tesise 8,5 puan verdiler.

    Hampton By Hilton Munich City West, Booking.com konuklarını 22 May 2018 tarihinden beri ağırlıyor.
    Otel zinciri/marka: Hampton by Hilton <br />
</div>