
@{
    ViewBag.Title = "Rehber";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Rehber</h2>
<div>
    <h3 style="color:red;font-size:large;">Avrupa Seyahati için gerekenler</h3>
    <img src="~/web/images/avrupa.jpg" />
    <p style="float:left;width:auto;font-family:Arial, Helvetica, sans-serif;text-align:left;line-height:30px;color:black;">
        Yolculuk İçin Gerekli Belgeler
        AB Vatandaşları İçin
        Pasaport ya da kimlik kartı

        AB yasalarının bir parçası olan Schengen kuralları sayesinde, AB’deki 27 ülke sınırlarında artık kontrol uygulaması bulunmamaktadır. Bulgaristan, Hırvatistan, İrlanda, Romanya dışındaki tüm AB ülkeleri tam Schengen üyesidir.  İzlanda, Norveç, Lihtenştayn ve İsviçre de Schengen üyesidir, ancak AB’de yer almamaktadır.  Schengen kuralları tüm dâhili sınır kontrollerini kaldırır, AB dışındaki sınırlarda etkin kontroller uygular ve ortak bir vize politikası benimser. Kamu düzeni tehdidi ya da üye ülkelerden birinde bir güvenlik tehdidi varsa, iç kontroller çok kısa bir süreliğine istisnai olarak yeniden gündeme getirilebilir.

        Schengen üyesi olmayan altı ülkeye ve AB’ye girerken ya da çıkarken, geçerli bir pasaport ve kimlik göstermeniz gereklidir.  AB’de yolculuk yaparken kimlik bildirimi ve güvenlik amacıyla pasaportunuzu ve kimliğinizi yanınızda taşımalısınız.

        Çocukların kendi pasaport ya da kimlik kartı olmalıdır.



        AB Vatandaşı Olmayanlar İçin
        Pasaport
        Geçerli bir pasaportunuz olmalı.

        Vize
        AB’yi 90 güne kadar ziyaret etmek isteyen 50’den fazla ülkenin vatandaşı için vize gerekliliği yoktur.

        İrlanda'ya girmek için vize gerektiren ülkelerin listesi, diğer AB ülkelerinden biraz farklıdır.  Bu seyahatleriniz için ilgili ülkenin konsolosluk ya da elçiliklerinden vize başvurusu yapabilirsiniz.

        Bir Schengen vizeniz varsa, tüm Schengen ülkelerine seyahat edebilirsiniz.  Ayrıca Schengen ülkelerinden biri tarafından verilen geçerli bir oturma izniniz bulunuyorsa, diğer Schengen ülkelerinde de 90 güne kadar kalabilirsiniz. Schengen üyesi olmayan AB ülkelerini ziyaret için ulusal bir vizeye ihtiyacınız olabilir.
    </p>
</div>
<div>
    <h3 style="color:red;font-size:large;">Amerika ya gitmek için gerekenler</h3>
    <img src="~/web/images/amerika.jpg" />
    <p style="line-height:30px;font-family:Arial, Helvetica, sans-serif;color:black;">
        Amerika B2 Turistik Ziyaret Vizesi'nde başvuru sahibinin hazırlaması gereken kişisel bilgilerinizin olduğu evrak listesi aynı olmasına karşın mesleki durumunuzu gösteren ve talep edilen belgeler değişecektir.
    Amerika Konsolosluğu vize merkezi zorunlu evraklara alternatif olarak ABD'ye yapacağınız seyahatin ardından ülkenize döneceğinizin kanıtı olarak ekonomik, ailevi ve sosyal bağlarınızı gösteren belgeler sunmanızı da talep edebilir. Bu belgeler arasında; şirket evraklarınız, maaş bordronuz, banka hesap özetiniz, tapu, kira geliri, kredi kartları hesap dökümleriniz yer alabilir.

    Amerika B2 Turistik Ziyaret Vizesi yönergemizin devamında meslek gruplarına göre hazırlanması gereken evraklarla ilgili detaylı bilgi bulabilirsiniz. Ayrıca seyahat sebebinize uygun olan 2021 evrak listenizi +90 (212) 963 30 04 hatlı numaradan Euroasia Global Visa Services merkez ofisimizi arayarak ya da ask@eagvs.com adresimize mail göndererek öğrenebilir ve Amerika vize şartları hakkında detaylı bilgi alabilirsiniz.

    B2 Turistik ve Aile Ziyareti Vize Başvurusu İçin Gerekli Evraklar
    Kişisel Evraklarınız
    Amerika Vize Başvuru Formu (DS-160)- Formun İngilizce olarak online doldurulmuş olması gerekmektedir.
    Pasaport -Seyahat tarihinden sonraki 6 ay süresince geçerliliği olmalı. Başvuru sahibi daha önce ABD vizesi işlenen pasaportlarını da sunmalıdır.
    Biometrik Fotoğraf- 5x5 ebatında, güncel ve fonu beyaz olmalı.
    Tam Vukuatlı Nüfus Kayıt Belgesi - Adres ve aile bilgilerinin tümünü içermeli.
    Nüfus Cüzdanı Fotokopisi - Başvuru sahibi 14 yaşın altında ise sunmalı.
    Amerika Vize Talep Dilekçesi - Konsolosluğa hitaben yazılan ve seyahat amacınızı ve tüm masrafların tarafınızdan karşılanacağını belirten yazı.
    Banka Hesap Özeti- Amerika ziyaretinizi karşılayacak bakiyenin olduğu banka hesap dökümü.
    Mesleki Durumunuzu Gösteren Evraklar
    Emekli - emekli maaş bordrosu,emekli kartı, banka hesap cüzdanı, varsa araç ruhsatı ve ev tapusu.
    Şirket Sahibi- çalışan ya da sözleşmeli - Vergi Levhası, Şirketin Faaliyet Belgesi, İmza Sirküsü, Sicil Gazete fotokopisi ve dilekçe,
    Öğrenci - muvafakatname, öğrenci belgesi, üniversiteden 1 yıl içinde mezun olduysanız transkript,
    Ev Hanımı - sponsor olacak kişinin banka hesap dökümü.
    Davet Eden Kişiden İstenilen Evrak Listesi
    Davetiye Mektubu - Davet eden kişi tarafından yazılan, adres ve iletişim bilgilerini içeren, imzalanmış davetiye yazısının mail çıktısı.
    Pasaport ve Kimlik Fotokopisi - Davet eden kişi ABD vatandaşı ise pasaport ve kimlik fotokopisi göndermeli.
    Oturum izni fotokopisi - Davet eden kişi ABD vatandaşı değilse göçmenlik statütüsünü gösteren belge sunulmalı.
    Banka Hesap Dökümü - Seyahatin masrafları nı davet eden kişi karşılayacaksa son 3 aylık maaş bordrosu ve banka hesap dökümlerinin fotokopisi
    Ek Hizmetlerimiz
    Amerika B2 Turistik Ziyaret Vizesi işlemlerinizi tamamlanmadan seyahatiniz için uçak bileti ve hotel rezervasyonu ve ödemelerinizi yapmanızı tavsiye etmiyoruz. Vizeniz sonuçlandıktan sonra ofisimizdeki yetkililerle iletişime geçerek uçak ve hotel rezervasyonlarınızı en hızlı şekilde gerçekleştirebilirsiniz. Amerika vize başvuruları sırasında ihtiyacınız olan tercüme işlemleriniz de yetkililerimiz tarafından gerçekleştirilmektedir.
    </p>
</div>

