
@{
    ViewBag.Title = "Restaurantlar";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Restaurantlar</h2>

<div style="padding-left:20px;font-size:20px;">
    <h3 style="color:red"> The Black Swan, Oldstead, İngiltere</h3>
    <div align="center"><img src="~/web/images/ingiltere resta.jpg" /> <br /></div>
    Tripadvisor kullanıcı oylarıyla Avrupa’nın en iyi restaurantı olarak seçilen The Black Swan, İngiltere’nin Oldstead şehrinde bulunuyor. Haftanın her günü akşam 18.00’dan 21.00’a kadar açık olan restaurant, Perşembe’den Pazar’a öğlen 12.00-14.00 arası da açık. Lezzetli İngiliz mutfağının yanında vejeteryanları da unutmayan bu restaurant, sürekli kendini geliştiren ve yenileyen yaratıcı bir ekiple çizgisini her zaman koruyor. Şık biçimde dekore edilmiş vintage havası yaratan restaurantta, baş şef Tommy Banks’ın tasting menüsünü denemeden sakın dönmeyin. 2 kişi için alkolsüz fiyat: 200 Pound
    
    <h3 style="color:red">Belmond Le Manoir aux Quat'Saisons, Great Milton, İngiltere </h3>
    <div align="center"><img src="~/web/images/ingiltere 2resto.jpg" /> <br /></div>
    Avrupa’nın en iyi 2. restaurantı olarak seçilen Belmond Le Manoir aux Quat’Saisons, İngiltere’deki Oxfordshire’da bulunuyor. Pazar günleri hariç her gün sabah 9.00’dan akşam 21.00’e kadar açık olan restaurant, yalnızca Pazar günleri sabah 9.00’dan akşam 18.00’e kadar açık. Vejeteryan ve vegan menüler sunan İngiliz ve Avrupa mutfağının yanında güzel bir Fransız yemeği için de rahatlıkla tercih edilebilir. Eşsiz İngiliz mimarisiyle dizayn edilmiş, ferah ve yeşillikli bir ortama sahip olan 2 Michelin Yıldızlı bu restaurant, her zaman organik ve taptaze yiyeceklerle müşterilerini bir gurme yolcuğuna çıkarıyor. 2 kişi için alkolsüz fiyat: 300 Pound
    
    <h3 style="color:red"> Maison Lameloise, Chagny, Fransa</h3>
    <div align="center"><img src="~/web/images/fransa1resto.jpg" /> <br /></div>
    Fransa’nın Chagny şehrinde bulunan Maison Lameloise, 3. sırada yerini alıyor. Salı ve Çarşamba günleri kapalı olan restaurant, diğer günler öğlen 12.00-13.30 arası akşam ise 19.30-21.00 arası hizmet veriyor. Leziz Fransız mutfağının yanında Avrupa mutfağını da sunan restaurant; vejeteryan, vegan ve glütensiz opsiyonlar da sunuyor. 3 Michelin yıldızıyla benzersiz bir yemek vaad eden mekan, birinci sınıf hizmeti ve sade dekorasyonuyla keyifli anlar yaşatıyor. 2 kişi için alkolsüz fiyat: 200 Euro
    
    <h3 style="color:red"> L’Auberge de l’lll, Illhaeusern, Fransa</h3>
    <div align="center"><img src="~/web/images/fransa2testo.jpg" /> <br /></div>
    Farklı odalarının her birinde ayrı bir atmosfere sahip olan bu restaurant, tek kelimeyle benzersiz! Tripadvisor tarafından Avrupa’nın en iyi 4. restaurantı seçilen L'Auberge de l'Ill, Fransa’nın Illhaeusern şehrinde bulunuyor. Çarşamba’dan Pazar gününe kadar açık olan mekan, öğlen 12.00-14.00 akşam da 19.00-21.00 arasında günde sadece 4 saat açık olan bir yer. Şef Marc Haeberlin’in imzası bulunan mutfak, Fransız ve Avrupa mutfağının en güzel örneklerini sunarken vejeteryan, vegan ve glütensiz seçeneklerin de en lezzetlilerini sunuyor. 2 kişi için alkolsüz fiyat: 200 Euro
    
    <h3 style="color:red"> Ristorante Don Alfonso 1890, Sant’Agata sui Due Golfi, İtalya</h3>
    <div align="center"><img src="~/web/images/italyaresto.jpg" /> <br /></div>
    İtalya’nın Massa Lubrense bölgesinde bulunan Ristorante Don Alfonso 1890, tipik bir İtalyan restaurantı olarak 9. sırada. ¨Yaratıcı olmak önemli; fakat asıl önemli olan süreklilik¨ felsefesi altında gelişen mekan, İtalyan ve Akdeniz mutfağının en lezzetlilerini yemenize olanak tanıyor. Aynı zamanda vejeteryan, vegan ve glütensiz seçenekler de sunan bu restaurant, masa üstündeki renkli mumları ve huzur veren atmosferiyle büyülüyor. 2 kişi için alkolsüz fiyat: 250 Euro
    
    <h3 style="color:red"> DOC, Armamar, Portekiz</h3>
    <div align="center"><img src="~/web/images/portekizresto.jpg" /> <br /></div>
    Estrada Notional’da bulunan DOC, Tripadvisor kullanıcı oylarıyla 9. sırada seçildi. ¨Hafıza benim ilham kaynağım¨ diyen şef Rui Paula; Akdeniz, Avrupa ve Portekiz mutafağını en lezzetli haliyle beğeninize sunuyor. Duoro nehrine karşı konumlanmış olan bu restaurant, benzersiz manzarası ve seçkin lezzetleriyle tadına doyulmaz anlar yaşamanızı sağlıyor. Masalarla sandalyelerin beyazlığı ve oldukça sade ortamıyla huzurlu bir yemek vaat ediyor. 2 kişi için alkolsüz fiyat: 300 Euro
</div>