
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>Burası layout alanıdr</div>
    <h2>layout sayfama hoşgeldınız</h2>
    @RenderBody()
</body>
</html>
