
@{
    Layout = null;
}
<h5>deneme</h5>
<br />
<div>burası denmee sayfası</div>

@{
    var deger = "<b>Merhaba</b>"+
        "<p style=\"color:blue;font-weight:bold\">Burası 2.cümle</p>";
}

@Html.Raw(deger)
